.button1 {
    background-color: #D7DF22; /* Green */
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 10px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
  }

  .button1:hover{
    background-color: white;
    color: blue;
    
  }